<!-- Скрытый блок для банковских реквизитов -->
<div id="bank_details" style="display: none;">
    <div class="form-group">
        <label for="saved_bank_details">Сохранённые реквизиты</label>
        <select class="form-control" id="saved_bank_details">
            <!-- Значения для этого списка будут динамически добавляться с помощью JavaScript -->
            <option value="">-- Выберите сохранённые реквизиты --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="bank_name">Название банка</label>
        <input type="text" class="form-control" id="bank_name" name="bank_name">
    </div>
    <div class="form-group">
        <label for="account_or_phone">Счет или телефон</label>
        <input type="text" class="form-control" id="account_or_phone" name="account_or_phone">
    </div>
    <div class="form-group">
        <label for="recipient_name">Имя получателя</label>
        <input type="text" class="form-control" id="recipient_name" name="recipient_name">
    </div>
</div>
