{% extends "base.html" %}

{% block content %}
<h2>Create New Offer</h2>

<form method="post" class="row justify-content-left">
    {% csrf_token %}
    <div class="col-lg-4 col-12">

        <div class="text-border-block">
            For security reasons during our testing period,<br>
            we have set temporary transfer limits:<br>
        </div>

        <div class="text-border-block">
            50 dollars for USD<br>
            5000 rubles for RUB<br>
            150 000 tugrugs for MNT
        </div>

        {% if form.non_field_errors %}
            <div class="alert alert-danger mt-2">
                {{ form.non_field_errors.0 }}
            </div>
        {% endif %}

        {% for field in form %}
            {% if field.name not in hidden_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.field.widget.input_type == 'select' %}
                    <select class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                        {% for choice_value, choice_label in field.field.choices %}
                            <option value="{{ choice_value }}" {% if field.value == choice_value %}selected{% endif %}>{{ choice_label }}</option>
                        {% endfor %}
                    </select>
                {% elif field.field.widget.input_type == 'radio' %}
                    {% for choice_value, choice_label in field.field.choices %}
                        <label>
                            <input type="radio" name="{{ field.name }}" value="{{ choice_value }}" {% if field.value == choice_value %}checked{% endif %}> {{ choice_label }}
                        </label>
                    {% endfor %}
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger mt-2">
                        {{ field.errors.0 }}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <div id="existing_bank_details">
            {% for field in bank_detail_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger mt-2">
                        {{ field.errors.0 }}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!-- Блок для новых банковских реквизитов -->
        <div id="new_bank_details" style="display: none;">
            <div class="form-group">
                <label for="bank_name">{{ form.bank_name.label }}</label>
                {{ form.bank_name }}
            </div>
            <div class="form-group">
                <label for="account_or_phone">{{ form.account_or_phone.label }}</label>
                {{ form.account_or_phone }}
            </div>
            <div class="form-group">
                <label for="recipient_name">{{ form.recipient_name.label }}</label>
                {{ form.recipient_name }}
            </div>
        </div>
        <button type="submit" class="btn-minimalist mt-3">Submit</button>
    </div>
</form>

<!-- JavaScript код -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const newBankDetails = document.getElementById('new_bank_details');
    const existingBankDetails = document.getElementById('existing_bank_details');
    const bankDetailSelect = document.querySelector('select[name="bank_detail"]');

    function updateDisplay() {
        if (document.querySelector('input[name="selection"][value="existing"]').checked) {
            newBankDetails.style.display = 'none';
            existingBankDetails.style.display = 'none';
            bankDetailSelect.disabled = false; // включаем выбор bank_detail
        } else {
            newBankDetails.style.display = 'block';
            existingBankDetails.style.display = 'block';
            bankDetailSelect.disabled = true; // отключаем выбор bank_detail
        }
    }

    document.querySelectorAll('input[name="selection"]').forEach(function(radioBtn) {
        radioBtn.addEventListener('change', updateDisplay);
    });

    updateDisplay();
});


</script>

{% endblock %}
