<!-- templates/offers/index.html -->
{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="display-6 text-left mb-5">Hi, {{request.user|capfirst }}!</h1>

    {% for offer in offers %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Posted by {{ offer.author.username|capfirst }}</h5>
            <p class="card-text">
                Date: {{ offer.publishing_date|date:"d E Y" }} <br>
                Currency for sale: {{ offer.amount_offered|floatformat:2 }} {{ offer.currency_offered }} <br>
                Requested currency: {{ offer.currency_needed }} <br>
                Status: {{ offer.status }} <br>
            </p>

            {% if offer.transaction %}
                {% if offer.author == request.user %}
                    {% if offer.transaction.status == "CLOSED" %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            Your previous request<br>Transaction closed
                        </a>
                    {% else %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            You have a response<br>Transaction is open
                        </a>
                    {% endif %}
                {% elif offer.transaction.accepting_user == request.user %}
                    {% if offer.transaction.status == "CLOSED" %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            You responded to this offer<br>Transaction closed
                        </a>
                    {% else %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            You responded to this offer<br>Transaction in progress
                        </a>
                    {% endif %}
                {% else %}
                    <p class="text-border">Transaction in progress</p>
                {% endif %}
            {% else %}
                {% if offer.author == request.user %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn-minimalist">
                        Your offer is awaiting response
                    </a>
                {% else %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn-minimalist">
                        Offer details
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
