<!-- templates/offers/index.html -->
{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-5">Здравствуй, {{request.user}}!</h1>

    {% for offer in offers %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Автор: {{ offer.author.username }}</h5>
            <p class="card-text">
                Дата публикации: {{ offer.publishing_date|date:"d E Y" }} <br>
                Количество валюты на продажу: {{ offer.amount_offered }} {{ offer.currency_offered }} <br>
                Требуемая валюта: {{ offer.currency_needed }} <br>
                Статус предложения: {{ offer.status }} <br>
            </p>
            {% if offer.transaction %}
                {% if offer.author == request.user %}
                    {% if offer.transaction.status == "CLOSED" %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn btn-primary">Ваша прошлая заявка. Сделка закрыта</a>
                    {% else %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn btn-warning">На Вашу заявку есть отклик. Открыта транзакция</a>
                    {% endif %}
                {% elif offer.transaction.accepting_user == request.user %}
                    {% if offer.transaction.status == "CLOSED" %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn btn-success">Вы отреагировали на эту заявку. Сделка закрыта</a>
                    {% else %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn btn-info">Вы отреагировали на эту заявку. Сделка в процессе исполнения</a>
                    {% endif %}
                {% else %}
                    <p class="text-danger">Транзакция открыта</p>
                {% endif %}
            {% else %}
                {% if offer.author == request.user %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn btn-dark">Ваша заявка ожидает отклика</a>
                {% else %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn btn-success">Детали заявки</a>
                {% endif %}
            {% endif %}
        </div>

    </div>

    {% endfor %}
</div>

{% endblock %}
