<!-- templates/offers/index.html -->
{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}

<div class="container mt-5">
    <h1 class="display-6 text-left mb-5">Hi, {{request.user|capfirst }}!</h1>


    <div class="text-border-block">
    <div class="mb-4">
        <strong>Current Exchange Rates (as of today's start):</strong>
        <ul>
            <li>RUB to USD: {{ rub_to_usd }}</li>
            <li>MNT to RUB: {{ mnt_to_rub }}</li>
            <li>MNT to USD: {{ mnt_to_usd }}</li>
            <li>Альтернативный курс: {{ usd_to_rub_alternative }}</li>
        </ul>
        <small>Note: During the transaction, the exchange rate may be updated based on data from the Exchange Rates Data API.</small>
    </div>
    </div>
    <br>


    {% for offer in offers %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Posted by {{ offer.author.username|capfirst }}</h5>
            <p class="card-text">
                Date: {{ offer.publishing_date|date:"d E Y" }} <br>
                Currency for sale: <strong> {{ offer.amount_offered|intspace }} {{ offer.currency_offered }} </strong> <br>
                Requested currency: {{ offer.currency_needed }} <br>
                Status: {{ offer.status }} <br>
            </p>

            {% if offer.transaction %}
                {% if offer.author == request.user %}
                    {% if offer.transaction.status == "CLOSED" %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            Your previous request<br>Transaction closed
                        </a>
                    {% else %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            You have a response<br>Transaction is open
                        </a>
                    {% endif %}
                {% elif offer.transaction.accepting_user == request.user %}
                    {% if offer.transaction.status == "CLOSED" %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            You responded to this offer<br>Transaction closed
                        </a>
                    {% else %}
                        <a href="{% url 'transaction_detail' offer.transaction.id %}" class="btn-minimalist">
                            You responded to this offer<br>Transaction in progress
                        </a>
                    {% endif %}
                {% else %}
                    <p class="text-border">Transaction in progress</p>
                {% endif %}
            {% else %}
                {% if offer.author == request.user %}
                    {% if offer.has_requests %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn-minimalist">
                        Your offer has a response
                    </a>
                    {% else %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn-minimalist">
                        Your offer is awaiting response
                    </a>
                    {% endif %}
                {% else %}
                    {% if offer.has_requests %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn-minimalist">
                        This offer has a response
                    </a>
                    {% else %}
                    <a href="{% url 'offer_detail' offer.id %}" class="btn-minimalist">
                        Offer details
                    </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination-wrapper mt-4">
    <ul class="pagination">
        {% if offers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">&laquo;&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ offers.previous_page_number }}" aria-label="Previous">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}

        {% for num in offers.paginator.page_range %}
            {% if offers.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if offers.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ offers.next_page_number }}" aria-label="Next">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ offers.paginator.num_pages }}" aria-label="Last">&raquo;&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&raquo;&raquo;</span>
            </li>
        {% endif %}
    </ul>
</div>


{% endblock %}
