<!-- offer_detail.html -->

{% extends 'base.html' %}
{% block content %}

    <div class="mb-4">
    <h2>Offer by: {{ offer.author.username|capfirst }}</h2>
    <p class="lead">You have {{ handshakes }} handshake(s) between you:</p>
        <div class="handshake-chain">
            <span class="emoji">👤</span> <!-- начальный пользователь -->
            {% for i in handshake_range %}
                <span class="line">─</span>
                <span class="emoji">👤</span>
            {% endfor %}
        </div>

    <!-- Displaying offer details -->
    <h3>Details of the Offer</h3>
    <ul>
        <li>Currency Offered: {{ offer.currency_offered }}</li>
        <li>Amount Offered: <strong>{{ offer.amount_offered|floatformat:2 }}</strong></li>
        <li>Currency Needed: {{ offer.currency_needed }}</li>
        <li>Publishing Date: {{ offer.publishing_date|date:"d E Y" }}</li>
        <li>Status: {{ offer.get_status_display }}</li>
    </ul>

    <!-- Request transaction button -->
    {% if not offer.author == request.user %}
        {% if user_has_sent_request %}
            <p class="text-border">Request Sent</p>
        {% else %}
            <a href="{% url 'request_transaction' offer.id %}" class="btn-minimalist">Request Transaction</a>
        {% endif %}
    {% endif %}

{% endblock %}
