<!-- offer_detail.html -->

{% extends 'base.html' %}
{% block content %}

    <div class="mb-4">
    <h2>Offer by: {{ offer.author.username|capfirst }}</h2>
        <h5>Author's Average Rating: <strong>{{ offer.author.aggregated_rating|floatformat:2 }}</strong></h5>
    <p class="lead">You have {{ handshakes }} handshake(s) between you:</p>
        <div class="handshake-chain">
            <span class="emoji">👤</span> <!-- начальный пользователь -->
            {% for i in handshake_range %}
                <span class="line">─</span>
                <span class="emoji">👤</span>
            {% endfor %}
        </div>

        <br>

    <!-- Displaying offer details -->
    <h5>Details of the Offer</h5>
    <ul>
        <li>Amount Offered: <strong>{{ offer.amount_offered|floatformat:2 }} {{ offer.currency_offered }}</strong></li>
        <li>Amount Needed: {{required_amount|floatformat:2}} {{ offer.currency_needed }}</li>
        <li>Publishing Date: {{ offer.publishing_date|date:"d E Y" }}</li>
        <li>Status: {{ offer.get_status_display }}</li>
    </ul>

    <div class="text-border-block">
    Excnahge Rates:
    <ul>
        <li>RUB to USD: {{ rub_to_usd }}</li>
        <li>MNT to RUB: {{ mnt_to_rub }}</li>
        <li>MNT to USD: {{ mnt_to_usd }}</li>
    </ul>
    </div>

    <br>

    {% if transaction %}
        <!-- Если транзакция существует, отображаем ссылку на её детали -->
        <a href="{% url 'transaction_detail' transaction.id %}" class="btn-minimalist">The transaction is open!</a>
        <br>
    {% endif %}
    <!-- Request transaction button -->
    {% if not offer.author == request.user %}
        {% if user_has_sent_request %}
            <p class="text-border">Request Sent</p>
        {% else %}
            <a href="{% url 'create_request_for_transaction' offer.id %}" class="btn-minimalist">Request Transaction</a>

        {% endif %}
    {% else %}
        {% if requests_for_transaction %}
            <a href="{% url 'view_requests_for_transaction' offer.id %}" class="btn-minimalist">View Applicants</a>
        {% else %}
            <p class="text-border">No Requests</p>
        {% endif %}
    {% endif %}

    {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>

{% endif %}


{% endblock %}
