{% extends 'base.html' %}
{% block content %}

{% for data in applicants_data %}
    <div class="mb-4">
        <h3>Transaction Request by:
                <a href="{% url 'users:user_profile' username=data.applicant.username %}" class="user-link">
                    {{ data.applicant.username|capfirst }}
                </a></h3>

        <p class="lead">You have {{ data.handshakes }} handshake(s) between you:</p>
        <div class="handshake-chain">
            <span class="emoji">👤</span> <!-- начальный пользователь -->
            {% for _ in data.handshake_range %}
                <span class="line">─</span>
                <span class="emoji">👤</span>
            {% endfor %}
        </div>

        <br>

        <h5>Details of the Offer</h5>
        <ul>
            <li>Currency Offered: {{ data.request_for_transaction.offer.currency_offered }}</li>
            <li>Amount Offered: <strong>{{ data.request_for_transaction.offer.amount_offered|floatformat:2 }}</strong></li>
            <li>Currency Needed: {{ data.request_for_transaction.offer.currency_needed }}</li>
            <li>Publishing Date: {{ data.request_for_transaction.offer.publishing_date|date:"d E Y" }}</li>
            <li>Status: {{ data.request_for_transaction.offer.get_status_display }}</li>
        </ul>

        <!-- Accept or Reject Request -->
        <a href="{% url 'accept_request' data.request_for_transaction.id %}" class="btn-minimalist">Accept Request</a>
        <a href="{% url 'reject_request' data.request_for_transaction.id %}" class="btn-minimalist">Reject Request</a>
    </div>
{% endfor %}

{% endblock %}
