{% extends 'base.html' %}
{% block content %}

    <h3>Details of the Offer</h3>
    <ul>
        <li>Amount Offered: <strong>{{ offer.amount_offered|floatformat:2 }} {{ offer.currency_offered }}</strong></li>
        <li>Amount Needed: {{required_amount|floatformat:2}} {{ offer.currency_needed }}</li>
        <li>Publishing Date: {{ offer.publishing_date|date:"d E Y" }}</li>
        <li>Status: {{ offer.get_status_display }}</li>
    </ul>

<div class="text-border-block">
{% for data in applicants_data %}
    <div class="mb-4">
        <h5>Transaction Request by:
                <a href="{% url 'users:user_profile' username=data.applicant.username %}" class="user-link">
                    {{ data.applicant.username|capfirst }}
                </a></h5>
        <h5>The User's Bank: {{ data.bank_details }}</h5>
        <h5>Rating: <strong>{{ data.aggregated_rating|floatformat:2 }}</strong></h5>

        <p class="lead">You have {{ data.handshakes }} handshake(s) between you:</p>
        <div class="handshake-chain">
            <span class="emoji">👤</span> <!-- начальный пользователь -->
            {% for _ in data.handshake_range %}
                <span class="line">─</span>
                <span class="emoji">👤</span>
            {% endfor %}
        </div>
    </div>
        <!-- Accept or Reject Request -->
        <a href="{% url 'accept_request' data.request_for_transaction.id %}" class="btn-minimalist">Accept Request</a>
        <a href="{% url 'reject_request' data.request_for_transaction.id %}" class="btn-minimalist">Reject Request</a>
    </div>
{% endfor %}

{% endblock %}
