{% extends 'base.html' %}

{% block content %}

    <h1>Transaction Detail</h1>

    <div class="container mt-4 mb-4">
        <h2>Offer by: {{ offer.author.username }}</h2>
        <h2>Accepted by: {{ accepting_user.username }}</h2>
        <p class="lead">Тебя зовут: {{ request.user.username }}</p>
        <p class="lead">Количество рукопожатий между сторонами: {{ handshakes }}</p>
        <div class="handshake-chain">
            <span class="emoji">👤</span> <!-- начальный пользователь -->
            {% for i in handshake_range %}
                <span class="line">─</span>
                <span class="emoji">👤</span>
            {% endfor %}
    </div>

    {% if author_not_asserts_paid %}
        {% if current_user_is_author %}

            <div class="text-border-block">
                Переведите деньги на счет контрагента {{ transaction.accepting_user.username|capfirst }} <strong>{{ offer.amount_offered|floatformat:2 }} {{ offer.currency_offered }}</strong>
                <br>
                <strong>Название банка получателя:</strong> {{ accepting_user_bank_detail.bank_name }}
                <br>
                <strong>Счет или телефон получателя:</strong> {{ accepting_user_bank_detail.account_or_phone }}
                <br>
                <strong>Имя получателя:</strong> {{ accepting_user_bank_detail.recipient_name }}
                <br>
                <strong>{{ transaction.accepting_user.username|capfirst }} переведет вам в ответ:</strong> {{ required_amount|floatformat:2 }} {{ offer.currency_needed }}

            </div>

            {% if transaction.author_uploads_transfer_screenshot %}
                <a href="{% url 'author_asserts_transfer_done' transaction.id %}" class="btn btn-minimalist">Stage 1. Нажмите на эту ссылку, если вы утверждаете что сделали перевод</a>
            {% else %}
                <div class="text-border-block" style="background-color: #555A64; color: white;">Загрузите скриншот, чтобы подтвердить перевод ⬇</div>
            {% endif %}

            <form action="{% url 'author_uploads_screenshot' transaction.id %}" method="post" enctype="multipart/form-data" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <label>После отправки загрузите скриншот об отправке</label>
                    <input type="file" name="author_uploads_transfer_screenshot" class="form-control-file" onchange="displayImage(this, 'authorUploadedScreenshot')">
                </div>
                <button type="submit" class="btn btn-minimalist">Upload Screenshot</button>
                <img id="authorUploadedScreenshot" src="" alt="Uploaded Screenshot" style="display: none; width: 300px;">

            </form>

        {% elif current_user_is_accepting_user %}
            <div class="text-border-block" style="background-color: #555A64; color: white;">
                Stage 1. Пожалуйста дождитесь отправки денег от автора заявки.
            </div>
        {% endif %}

    {% elif author_asserts_paid and accepting_user_not_confirmed %}
        {% if current_user_is_author %}
            <div class="text-border-block" >
                Stage 2. Дождитесь подтверждения от контрагента.
            </div>
        {% elif current_user_is_accepting_user %}
            <div class="text-border-block" >
                Stage 2. Автор заявки утверждает, что <br>
                сделал перевод на сумму: {{ offer.amount_offered|floatformat:2 }} {{ offer.currency_offered }}.
            </div>


                <div class="alert alert-warning" role="alert">
                Переведите деньги на счет контрагента {{ offer.author|capfirst }} <strong>{{ required_amount|floatformat:2 }} {{ offer.currency_needed }}</strong>
                <br>
                <strong>Название банка получателя:</strong> {{ offer.bank_detail.bank_name }}
                <br>
                <strong>Cчет или телефон:</strong> {{ offer.bank_detail.account_or_phone }}
                <br>
                <strong>Имя получателя:</strong> {{ offer.bank_detail.recipient_name }}
                <br>
                </div>

            <a href="{% url 'accepting_user_confirms_money_received' transaction.id %}" class="btn btn-minimalist">Stage 2. подтвердить получение перевода</a>
            <br>
            {% if transaction.author_uploads_transfer_screenshot %}
                <img src="{{ transaction.author_uploads_transfer_screenshot.url }}" alt="Screenshot from author" width="300" class="img-thumbnail mb-3">
            {% else %}
                <p>No screenshot uploaded by the author yet.</p>
            {% endif %}

        {% endif %}

    {% elif accepting_user_confirmed_but_not_paid_back %}
        {% if current_user_is_author %}
            <div class="text-border-block">
                Stage 3. Контрагент подтвердил получение перевода.
            </div>
            <p>Дождитесь ответного перевода от контрагента.</p>
            <a href="{% url 'author_confirms_money_received' transaction.id %}" class="btn btn-info">подтвердите получение ответного перевода</a>

        {% elif current_user_is_accepting_user %}
            <div class="text-border-block">
                Stage 3. Сделайте ответный перевод на счет автора заявки {{ transaction.offer.author.username }}.
            </div>

            <div class="alert alert-warning" role="alert">
                <strong>Банковские реквизиты автора заявки:</strong>
                <ul>
                    <li>Банк: {{ transaction.offer.bank_detail.bank_name }}</li>
                    <li>Номер счета или телефон: {{ transaction.offer.bank_detail.account_or_phone }}</li>
                    <li>Имя получателя: {{ transaction.offer.bank_detail.recipient_name }}</li>
                    <li>Валюта: {{ required_amount|floatformat:2 }} {{ transaction.offer.bank_detail.currency }}</li>
                </ul>
            </div>

            {% if transaction.accepting_user_uploads_transfer_screenshot %}
                <a href="{% url 'accepting_user_asserts_transfer_done' transaction.id %}" class="btn btn-info" style="background-color: #555A64; color: white;">Stage 3. Нажмите на эту ссылку, если вы утверждаете что сделали перевод</a>
            {% else %}
                <div class="text-border-block">Загрузите скриншот, чтобы подтвердить перевод ⬇</div>
            {% endif %}

            <form action="{% url 'accepting_user_uploads_screenshot' transaction.id %}" method="post" enctype="multipart/form-data" class="mb-3">
                {% csrf_token %}
                <div class="form-group">
                    <label>После отправки загрузите скриншот об отправке</label>
                    <input type="file" name="accepting_user_uploads_transfer_screenshot" class="form-control-file" onchange="displayImage(this, 'acceptingUserUploadedScreenshot')">
                </div>
                <button type="submit" class="btn btn-minimalist">Upload Screenshot</button>
                <img id="acceptingUserUploadedScreenshot" src="" alt="Uploaded Screenshot" style="display: none; width: 300px;">
            </form>

<!--            <a href="{% url 'accepting_user_asserts_transfer_done' transaction.id %}" class="btn btn-info">Нажмите на эту ссылку, если вы утверждаете что сделали перевод</a>-->
        {% endif %}

    {% elif accepting_user_paid_back_author_not_confirmed %}
        {% if current_user_is_author %}
            <a href="{% url 'author_confirms_money_received' transaction.id %}" class="btn btn-info">Stage 4  подтвердите получение ответного перевода</a>
            <div class="alert alert-info" role="alert">
                Stage 4 Контрагент утверждает о совершении ответного перевода: {{ required_amount|floatformat:2 }} {{ offer.currency_needed }}.
            </div>
            {% if transaction.accepting_user_uploads_transfer_screenshot %}
                <img src="{{ transaction.accepting_user_uploads_transfer_screenshot.url }}" alt="Screenshot from accepting user" width="300" class="img-thumbnail mb-3">
            {% else %}
                <p>No screenshot uploaded by the accepting user yet.</p>
            {% endif %}

        {% elif current_user_is_accepting_user %}
            <div class="alert alert-info" role="alert">
                Stage 4 Дождитесь подтверждения от контрагента.
            </div>
        {% endif %}

    {% elif accepting_user_author_both_confirmed %}
        <div class="alert alert-success" role="alert">
            Stage 5. Сделка успешно завершена.
        </div>
        {% if existing_rating %}
            <a href="{% url 'rate_after_transaction' transaction.id %}" class="btn btn-primary">Изменить оценку</a>
        {% else %}
            <a href="{% url 'rate_after_transaction' transaction.id %}" class="btn btn-primary">Оставить оценку</a>
        {% endif %}
    {% endif %}

<script>
function displayImage(fileInput, imgElementId) {
    var file = fileInput.files[0];
    var reader = new FileReader();

    reader.onloadend = function() {
        document.getElementById(imgElementId).style.display = "block";
        document.getElementById(imgElementId).src = reader.result;
    }

    if (file) {
        reader.readAsDataURL(file);
    } else {
        document.getElementById(imgElementId).style.display = "none";
    }
}
</script>
{% endblock %}
        