{% load static %}
<!-- Header -->
<header class="bg-light py-3">
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static '/img/fav/favicon-32x32.ico' %}" alt="Logo" height="40">
            Ashignet (beta)
        </a>

        <div class="navbar-collapse" id="navbarNav">
            <!-- Левая часть -->
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:user_profile' request.user.username %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:follow_index' %}">Followed Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:create_invite_page' %}">Invite a Friend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_offer' %}">Start a Deal</a>
                </li>
                {% else %}
                <!-- Если нужны какие-либо ссылки для не аутентифицированных пользователей, разместите их здесь -->
                {% endif %}
                <a class="navbar-brand">
                        <a class="nav-link" href="https://t.me/+C0A67r8WRXtiODYy" target="_blank" style="color: black;">About</a>
                        <a class="nav-link" href="https://t.me/Sharga_42_support" target="_blank" style="color: black;">Support</a>
                </a>
            </ul>

            <!-- Правая часть -->
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'users:logout' %}" class="btn btn-secondary">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'users:login' %}" class="btn btn-minimalist">Login</a>
                    </li>
                    <!-- Пользователи могут зарегистрироваться только по приглашению, поэтому мы не предоставляем прямую ссылку на регистрацию здесь -->
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
