{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App Name</title>
    <!-- Здесь можно добавить ссылки на стили и скрипты, если они вам нужны -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <!-- Добавьте или удалите ссылки в зависимости от вашего приложения -->
            </ul>
        </nav>
    </header>
