{% extends 'base.html' %}
{% load static %}

{% block title %}
Your Invitation Link
{% endblock title %}

{% block content %}
<h1>Your Invitation Link</h1>

{% if has_invites %}
<input type="text" id="invite-link" value="{{ invite_link }}" readonly>
<button id="generate-button" onclick="generateAndShowLink()" class="btn-minimalist">Сгенерировать ссылку</button>
<button id="copy-button" onclick="copyToClipboard()" class="btn-minimalist" style="display: none;">Copy to Clipboard</button>
<p>Copy and share the above link to invite someone.</p>
{% else %}
<p>You have no invitations left.</p>
{% endif %}

<h2>Your Previous Invitations</h2>
<ul class="simple-list">
    {% for invite_url in previous_invitations %}
    <li><a href="{{ invite_url }}" target="_blank">{{ invite_url }}</a></li>
    {% endfor %}
</ul>
<a href="{% url 'index' %}" class="btn-minimalist">Go to Dashboard</a>

<script>
    function copyToClipboard() {
        const copyText = document.getElementById("invite-link");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }

    function generateAndShowLink() {
        fetch("{% url 'users:generate_invite' %}")
        .then(response => response.json())
        .then(data => {
            const inviteInput = document.getElementById("invite-link");
            inviteInput.value = data.invite_link;
            document.getElementById("copy-button").style.display = "block";
        });
    }
</script>
{% endblock %}
