{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}
<div class="container mt-5">

            {% if user != user_profile %}
                {% if not is_following %}
                    <a href="{% url 'users:profile_follow' user_profile.username %}" class="btn-minimalist">Follow</a>
                {% else %}
                    <a href="{% url 'users:profile_unfollow' user_profile.username %}" class="btn-minimalist">Unfollow</a>
                {% endif %}
            {% endif %}

            <p class="lead">You have {{ handshakes }} handshake(s) between you:</p>
            <div class="handshake-chain">
                <span class="emoji">👤</span> <!-- начальный пользователь -->
                {% for i in handshake_range %}
                    <span class="line">─</span>
                    <span class="emoji">👤</span>
                {% endfor %}
            </div>

            <!-- Внутренний блок для имени пользователя -->
            <div class="card mt-3">
                <div class="card-body">
                    <h5>User's name:
                        {% if user_profile.username %}
                            {{ user_profile.username|capfirst }}
                        {% else %}
                            Data not provided
                        {% endif %}
                    </h5>

                    <h5>Email:
                        {% if user_profile.email %}
                            {{ user_profile.email }}
                        {% else %}
                            Data not provided
                        {% endif %}
                    </h5>

                    <h5>Invited by:
                    {% if inviter %}
                        <a href="{% url 'users:user_profile' inviter.username %}">{{ inviter.username|capfirst }}</a>
                    {% else %}
                        <p>Administrator.</p>
                    {% endif %}
                    </h5>

                    <h5>
                        <p>Rating: {{ aggregated_rating|floatformat:2|default:"No rating so far" }}</p>
                    </h5>

                </div>
            </div>

            <!-- Внутренний блок для предложений -->
            <div class="card mt-3">
                <div class="card-body">
                    <h5>Offers:</h5>
                    <ul class="simple-list">
                    {% for offer in user_profile.offers.all %}
                        <li>
                            {{ offer.amount_offered|intspace }} {{ offer.currency_offered }} to {{ offer.currency_needed }} - {{ offer.status }}
                        </li>
                    {% empty %}
                        <li>Data not provided</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Внутренний блок для транзакций -->
            <div class="card mt-3">
                <div class="card-body">
                    <h5>Transactions:</h5>
                    <ul class="simple-list">
                    {% for transaction in user_profile.accepted_transactions.all %}
                        <li>
                            Transaction for {{ transaction.offer.amount_offered|intspace }} {{ transaction.offer.currency_offered }} - {{ transaction.status }}
                        </li>
                    {% empty %}
                        <li>Data not provided</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

</div>

{% endblock %}
