{% extends 'base.html' %}

{% block content %}

        <div>
            {% if user != user_profile %}
                {% if not is_following %}
                    <a href="{% url 'users:profile_follow' user_profile.username %}" class="btn-minimalist">Follow</a>
                {% else %}
                    <a href="{% url 'users:profile_unfollow' user_profile.username %}" class="btn-minimalist">Unfollow</a>
                {% endif %}
            {% endif %}

            <h5>Your name:
                {% if user_profile.username %}
                    {{ user_profile.username }}
                {% else %}
                    данные отсутствуют
                {% endif %}
            </h5>

            <h5>Email:
                {% if user_profile.email %}
                    {{ user_profile.email }}
                {% else %}
                    данные отсутствуют
                {% endif %}
            </h5>

            <h5>Offers</h5>
            <ul>
            {% for offer in user_profile.offers.all %}
                <li>
                    {{ offer.amount_offered }} {{ offer.currency_offered }} to {{ offer.currency_needed }} - {{ offer.status }}
                </li>
            {% empty %}
                <li>данные отсутствуют</li>
            {% endfor %}
            </ul>

            <h5>Transactions</h5>
            <ul>
            {% for transaction in user_profile.accepted_transactions.all %}
                <li>
                    Transaction for {{ transaction.offer }} - {{ transaction.status }}
                </li>
            {% empty %}
                <li>данные отсутствуют</li>
            {% endfor %}

            </ul>
        </div>

{% endblock %}
