{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<form method="post">
    {% csrf_token %}

    <!-- Другие поля формы -->
    <p>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </p>
    <p>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </p>
    <p>
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
    </p>

    <!-- Поле Email -->
    <p>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </p>

    <button type="submit" class="btn-minimalist">Register</button>
</form>
{% endblock %}
